body {
  margin: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
header {
  background-color: gainsboro;
  color: white;
  padding: 10px;
}
a {
  color: #00B7FF;
}
img{
  width: 100%;
}
figure{
  width: 20%;
}
nav ul {
  display: flex;
  list-style-type: none;
}
nav ul li {
  margin-right: 10px;
}
footer {
  margin-top: 50px;
}
.titulo{
  text-align: center;
}
.botonAgregar , .botonModificar{
  color: white;
  background-color: green;
  padding: 10px;
  border-radius: 10px;
}
.botonBorrar{
  color: white;
  background-color: red;
  padding: 10px;
  border-radius: 10px;
}
.botonVolver{
  color: white;
  background-color: #00B7FF;
  padding: 10px;
  border-radius: 10px;
}
.formulario{
  margin: auto;
  width: 20%;
}
.lista {
  padding: 30px;
}